{% block navbar %}
    {% load i18n %}
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'players' %}">{% trans 'Player' %}</a>
                </li>
                <li>
                    <a href="{% url 'tactic' %}">{% trans 'Tactics' %}</a>
                </li>
                <li>
                    <a href="{% url 'plans' %}">{% trans 'Plans' %}</a>
                </li>
                {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'admin:index' %}">{% trans 'Admin page' %}</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'playerLogout' %}">{% trans 'logout' %}</a>
                </li>
                {% include 'language_list.html' %}
            </ul>
        </nav>
    </header>
{% endblock %}