{% block navbar %}
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'players' %}">Spieler</a>
                </li>
                <li>
                    <a href="{% url 'tactic' %}">Taktik</a>
                </li>
                <li>
                    <a href="{% url 'plans' %}">Pläne</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Abmelden</a>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}