{% extends "players/base.html" %}
{% block title %}
    Spielerinformationen
{% endblock %}
{% block content %}
    <h1 class="display-6 text-center" style="font-family: 'Times New Roman',serif; color: #3f7fff">
        Spielerinformationen</h1>
    <hr class="my-4">
    <div class="table-responsive">
        <table class="table table-borderless table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Hochladen</th>
                <th scope="col">Name</th>
                <th scope="col">Vorname</th>
                <th scope="col">Straße/Hausnummer</th>
                <th scope="col">Postleitzahl</th>
                <th scope="col">Stadt</th>
                <th scope="col">Verein</th>
                <th scope="col">Geburtstag</th>
                <th scope="col">Telefon</th>
                <th scope="col">Emailadresse</th>
            </tr>
            </thead>
            <tbody>
            {% for player in player_list %}

                    <tr>
                        <th scope="row"><a href="{% url 'update' player.id %}">{{ player.id }}</a></th>
                        <td><img width="75px" height="75px"
                                 src="{{ player.image.url }}"
                                 alt="Image{{ player.id }}"/>
                        </td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.first_name }}</td>
                        <td>{{ player.address }}</td>
                        <td>{{ player.post_code }}</td>
                        <td>{{ player.city }}</td>
                        <td>{{ player.society }}</td>
                        <td>{{ player.date_of_birth }}</td>
                        <td>{{ player.phone_number }}</td>
                        <td>{{ player.email_address }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}