{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    {% if form.errors %}
        <div class="alert-danger">Ihr Benutzername und Ihr Passwort stimmten nicht überein. Bitte versuche es erneut.
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert-warning">Ihr Konto hat keinen Zugriff auf diese Seite.
                Um fortzufahren, melden Sie sich bitte mit einem Konto an, das Zugriff hat.
            </div>
        {% else %}
            <div class="alert-info">Bitte loggen Sie sich ein, um diese Seite zu sehen.</div>
        {% endif %}
    {% endif %}

    <div class="card col-md-6" style="width: 50%; margin-left:25%;">
        <div class="card-body">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-row d-xl-flex justify-content-sm-center">
                    <div class="form-group col-md-10">
                        <!--name -->
                        {{ form.username |as_crispy_field }}
                    </div>
                    <div class="form-group col-md-10">
                        <!-- first name -->
                        {{ form.password|as_crispy_field }}
                    </div>
                </div>
                <input type="submit" class="btn btn-primary rounded" value="login"/>
                <input type="hidden" name="next" value="{{ next }}"/>

            </form>
        </div>

    </div>
{% endblock %}