/* body style*/
body {
    background-color: #f4f6f8;
}

/* end body style*/

/* navbar style*/
.myNav {
    background-color: white;
}

.myNav li {
    margin: 20px;
}

.myNav a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.myNav li a:hover {
    color: cornflowerblue;
    background-color: transparent;
    text-decoration: none;
}

/* end navbar style*/

.imagePreview {
    width: 100%;
    height: 180px;
    background-size: cover;
    background: #fff url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg) no-repeat center center;
    display: inline-block;
    box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.2);
}



.imgUp {
    margin-bottom: 15px;
}


/* float button style*/
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5%;
    right: 50px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

#float_button {
    margin-top: 5%;
    padding: 15%;
}

/* end float button style*/

.cat_class {
    font-style: italic;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

/* button style*/
.btn_submit {
    color: #FFFFFF;
    background-color: coral;
    border-radius: 12%;
    border-color: coral;
    margin-left: 2%;
    font-style: italic;
}

.btn_submit:hover {
    color: #FFFFFF;
    background-color: #00CC99;
    border-color: #00CC99;
}

.btn-primary {
    display: block;
    border-radius: 0;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}

/* end button style*/

/* card style */
#card_anchor {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#list_page_card {
    width: 18rem;
    margin-bottom: 2%;
    margin-right: 2%;
}

#card_body {
    display: flex;
    flex-direction: row
}

/* end card style */

/* others */
.custom-select, .select, .form-control:disabled, .form-control[readonly] {
    background: none;
    width: fit-content;
    border: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.player_page_header {
    font-family: 'Times New Roman', serif;
    color: #3f7fff;
}

.list_class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#player_id {
    margin-left: 78%;
}



.player_form {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.jumbotron {
    padding: 5px;
    background-color: inherit;
}

#iframe_div {
    width: 100%;
    height: 500px;
}

/*end others*/