body {
    background-color: #f4f6f8;
}

.myNav {
    background-color: white;
}

.myNav li {
    margin: 20px;
}

.myNav a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.myNav li a:hover {
    color: cornflowerblue;
    background-color: transparent;
    text-decoration: none;
}


.imagePreview {
    width: 100%;
    height: 180px;
    background-size: cover;
    background: #fff url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg) no-repeat center center;
    display: inline-block;
    box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    display: block;
    border-radius: 0;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}

.imgUp {
    margin-bottom: 15px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5%;
    right: 50px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

.cat_class {
    font-style: italic;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.btn_submit {
    color: #FFFFFF;
    background-color: coral;
    border-radius: 12%;
    border-color: coral;
    margin-left: 2%;
    font-style: italic;
}

.btn_submit:hover {
    color: #FFFFFF;
    background-color: #00CC99;
    border-color: #00CC99;
}

#card_anchor {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.custom-select, .select, .form-control:disabled, .form-control[readonly]{
    background: none;
    width: fit-content;
    margin-left: 15%;
    border: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}