{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load  i18n %}
{% block content %}

    {% if form.errors %}
        <div class="alert-danger">{% trans 'login_form_error_message' %}</div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert-info">{% trans 'login_form_user_auth_error_messgae' %}</div>
        {% else %}
            <div class="alert-warning">{% trans 'login_form_user_unauth_error_messgae' %}</div>
        {% endif %}
    {% endif %}

    <div class="card col-lg-10" style="width: 50%; height: 50%; margin-left:25%; margin-right: 25%; margin-bottom: 60%">
        <div class="card-header d-flex justify-content-center">
            <img src="/media/login_logo.gif" class="rounded-circle" height="200">
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-row d-xl-flex justify-content-sm-center">
                    <div class="form-group col-md-10">
                        <!--name -->
                        {{ form.username |as_crispy_field }}
                    </div>
                    <div class="form-group col-md-10">
                        <!-- first name -->
                        {{ form.password|as_crispy_field }}
                    </div>
                </div>
                <input type="submit" class="btn btn-primary rounded" value="{% trans 'login' %}"/>
                <input type="hidden" name="next" value="{{ next }}"/>

            </form>
        </div>

    </div>
{% endblock %}