body {
    background-color: #f5f5f5;
}

.imagePreview {
    width: 100%;
    height: 180px;
    background-size: cover;
    background: #fff url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg) no-repeat center center;
    display: inline-block;
    box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    display: block;
    border-radius: 0;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}

.imgUp {
    margin-bottom: 15px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #176ea9;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

tr > th > a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

tr > th > a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

tr > th > a {
    color: white;
}

tr > th > a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

tr > th > a:visited {
    color: cornsilk;
    background-color: transparent;
    text-decoration: none;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:5%;
	right:50px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}