{% load static %}
<!DOCTYPE html >
<html lang="de">
<head>
    {% include 'linking.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'scripts.html' %}
{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}
<main style="margin-top: 1%">
    <div class="jumbotron" style="padding: 5px;background-color: inherit">
        {% block content %}
        {% endblock content %}

    </div>
</main>
<div style="margin-top: 25%; padding: 15%">
    {% block float_button %}
    {% endblock %}
</div>
</body>
</html>