<!-- base template which we will extends in each page-->
{% load static %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html >
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <!-- load scripts and css files-->
    {% include 'linking.html' %}
    {% include 'scripts.html' %}
    <title>{% block title %}{% endblock %}</title>

</head>
<!-- set default navbar -->
{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}
<!-- demo block will be extends only in tactic.html page -->
{% block tacktic %}
{% endblock %}

<!-- main page block -->
<main style="margin-top: 1%">
    {% block content %}
        {% block float_button %}
        {% endblock %}
    {% endblock content %}

</main>

<!-- footer block -->
{% include 'footer.html' %}

</html>