<!-- list all available languages in the website-->
{% block language_list %}
    {% load i18n %}
    <li>
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <label>
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </label>
                <input class="btn btn-outline-info my-2 my-sm-0" type="submit" value="{% trans 'Go' %}">
            </form>
    </li>
{% endblock %}